{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background-color: black;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 100px;
    }

    .image-card {
        background-color: #080a28;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
        color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .image-item {
        font-size: 46px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 20px;
    }

    .image-description {
        font-size: 18px;
        color: white;
        text-align: left;
    }

    .tilted-image {
        transform: rotate(0deg); /* Adjust the tilt angle as desired */
        opacity: 1; /* Adjust the opacity as desired */
    }

    .form-container {
        background-color: #f0d4d4;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 0px;
        /* add this to push the navigation links down */
        position: absolute;
        left: 20px;
        /* Adjust the left position as desired */
        bottom: 150px;
        /* Adjust the bottom position as desired */
    }

    .form-container input[type=text],
    .form-container textarea {
        width: 100%;
        padding: 8px 12px; /* Adjust the padding as desired */
        margin: 4px 0;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
    }

    .form-container input[type=submit] {
        background-color: #120236;
        color: white;
        padding: 10px 16px; /* Adjust the padding as desired */
        margin: 4px 0;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 14px; /* Adjust the font size as desired */
    }

    .circle {
        width: 70px;
        height: 70px;
        background-color: #ff6347;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .circle-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 10px;
    }


    .circle-container a {
        text-decoration: none;
    }

    .circle-container h2 {
        color: white;
        font-size: 12px; /* Adjust the font size as desired */
        margin-top: 4px; /* Adjust the margin as desired */
    }

    .circle-container .circle {
        transition: transform 0.2s;
        cursor: pointer;
    }

    .circle-container .circle:hover {
        transform: scale(1.1);
    }

    .content-wrapper {
        min-height: 100vh; /* Set the minimum height to the full viewport height */
        display: flex; /* Set up a flexbox layout */
        flex-direction: column; /* Stack the content vertically */
        justify-content: space-between; /* Put as much space as possible between items */
    }
</style>

<div class="content-wrapper">
    <div style="text-align: center; margin-top: 20px;">
        <h1 class="image-item" style="font-family: 'Comic Sans MS', cursive; color: rgb(250, 248, 248);">
            {% if reminder_item %}{{ reminder_item.title }}{% endif %}
        </h1>
        <p class="image-description">
            {% if reminder_item %}{{ reminder_item.description }}{% endif %}
        </p>
        {% if reminder_item %}
        <img class="tilted-image" src="{{ url_for('static', filename=reminder_item.image_path) }}" alt="Image">
        {% endif %}
    </div>

    <div class="form-container" style="display: none;">
        <form method="POST" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Title" required>
            <textarea name="description" placeholder="Description" required></textarea>
            <input type="file" name="image" accept="image/*" required>
            <input type="submit" value="Add">
        </form>
    </div>   
    <div class="circle-container">
        <div class="circle" id="nextButton">
            <h2>Next Item</h2>
        </div>
        <div class="circle" onclick="toggleFormContainer(event);">
            <h2>Add Item</h2>
        </div>
        <a href="{{ url_for('image.all_image') }}">
            <div class="circle">
                <h2>All items</h2>
            </div>
        </a>
        <a href="{{ url_for('home') }}">
            <div class="circle">
                <h2>Home</h2>
            </div>
        </a>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var formContainer = document.querySelector('.form-container');
        var form = document.querySelector('.form-container form');
        form.addEventListener('click', function (event) {
            event.stopPropagation();
        });

        window.toggleFormContainer = function(event) {
            event.stopPropagation();
            formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
        }

        document.addEventListener('click', function (event) {
            if (formContainer.style.display === 'block') {
                formContainer.style.display = 'none';
            }
        });

        var imageItems = JSON.parse('{{ image_items_json|safe }}');
        var titleElement = document.querySelector('.image-item');
        var descriptionElement = document.querySelector('.image-description');
        var imageElement = document.querySelector('.tilted-image'); // Select the image element itself

        var staticPath = "{{ url_for('static', filename='') }}";  // Store the static path

        function updateimageItem() {
            // Get a random index
            var randomIndex = Math.floor(Math.random() * imageItems.length);

            // Get the item at the random index
            var item = imageItems[randomIndex];

            // Update the title, description and image.
            titleElement.textContent = item.title;
            descriptionElement.textContent = item.description;
            imageElement.src = staticPath + item.image_path; // Update the src attribute of the image element
        }

        updateimageItem();

        var nextButton = document.getElementById('nextButton');
        nextButton.addEventListener('click', function () {
            updateimageItem();
        });
    });
</script>
{% endblock %}
